<script>
  Vue.component('batch-saver-preview', {
    delimiters: ['[[', ']]'],
    props: ['item', 'match'],
    template: `
      <form class="batch-preview" v-on:submit.prevent="submitForm" action="{% url "categories:manga:create" %}">
        {% csrf_token %}

        <div class="batch-preview-row">
          <div class="batch-preview-field">
            Title
          </div>
          <div class="batch-preview-match-value">
            [[match ? match.title: '-']]
          </div>
          <div class="batch-preview-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="batch-preview-input-value">
            <input name="title" type="text" :value="item.title">
          </div>
        </div>

        <div class="batch-preview-row">
          <div class="batch-preview-field">
            Volumes
          </div>
          <div class="batch-preview-match-value">
            [[match ? match.volumes : '-']]
          </div>
          <div class="batch-preview-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="batch-preview-input-value">
            <input name="volumes" type="number" :value="item.volumes">
          </div>
        </div>

        <button class="btn btn-primary batch-preview-submit" type="submit">Send</button>
      </form>
    `,
    methods: {
      submitForm: function (event) {
        $.ajax({
          url: event.target.action,
          type: 'POST',
          dataType: 'json',
          data: $(event.target).serializeArray(),
          success: (response) => {
            console.log(response);
          },
          error: () => {
            alert("Error!");
          }
        });
      }
    }
  });
</script>
