<script>
  Vue.component('batch-saver-preview-urls', {
    delimiters: ['[[', ']]'],
    props: ['item', 'match'],
    template: `
      <div>
        <div v-if="match">
          Links

          <batch-saver-preview-url v-for="(link, index) in match.links" :key="index"
                                   :index="index" :link="link" :match="match" :ref="'url-' + index"></batch-saver-preview-url>
        </div>
      </div>
    `,
    methods: {
      fields: function () {
        return [];
      }
    }
  });
</script>
