<script>
  Vue.component('batch-saver-item', {
    delimiters: ['[[', ']]'],
    props: ['item', 'index'],
    template: `
      <div class="batch-item">
        <div class="batch-item-header">
          <div>[[item.full_text]]</div>
          <a :href="item.link" target="_blank" rel="noopener">
            [[item.link]] <i class="fas fa-external-link-alt"></i>
          </a>
        </div>

        <div class="batch-item-left">
          <ul>
            <li><b>Title:</b> [[item.title]]</li>
            <li><b>Volumes:</b> [[item.volumes]]</li>
          </ul>

          <div>Select matching item:</div>
          <batch-saver-match v-for="match in item.matches" :key="match.id" :match="match" :index="index"
                             @matchSelected="updateSelectedMatch"></batch-saver-match>
          <batch-saver-match :index="index" @matchSelected="updateSelectedMatch"></batch-saver-match>
        </div>

        <div class="batch-item-right">
          <batch-saver-preview :item="item" :match="selectedMatch" @saved="$emit('saved')"></batch-saver-preview>
        </div>
      </div>
    `,
    data: function () {
      return {
        selectedMatch: null
      }
    },
    methods: {
      updateSelectedMatch: function (match) {
        this.selectedMatch = match;
      }
    },
    watch: {
      item: function () {
        this.selectedMatch = null;
      }
    }
  });
</script>
