<script>
  Vue.component('batch-saver-match', {
    delimiters: ['[[', ']]'],
    props: ['match', 'index'],
    template: `
      <label class="batch-match">
        <input type="radio" :name="inputName" @change="matchSelected" :checked="startChecked" ref="radioButton">
        [[matchDisplay]]
      </label>
    `,
    computed: {
      matchDisplay: function () {
        if (this.match) return `${this.match.title} [${this.match.alternate_title}] (${this.match.volumes} volumes)`;
        else return 'Create new';
      },
      inputName: function () {
        return `match-${this.index}`
      },
      startChecked: function () {
        return !this.match;
      }
    },
    methods: {
      matchSelected: function () {
        this.$emit('matchSelected', this.match || null);
      },
      resetChecked: function () {
        this.$refs.radioButton.checked = !this.match;
      }
    },
    watch: {
      index: function () {
        this.resetChecked();
      }
    }
  });
</script>
