<script>
  Vue.component('batch-saver-preview-notes', {
    delimiters: ['[[', ']]'],
    props: ['item', 'match'],
    template: `
      <div class="batch-preview-row">
        <div class="batch-preview-field">
          Notes
        </div>
        <div class="batch-preview-match-value">
          [[matchNotes]]
        </div>
        <div class="batch-preview-arrow">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="batch-preview-input-value">
          <textarea name="notes" ref="notes" rows="5" cols="20" :value="matchNotes"></textarea>
        </div>
      </div>
    `,
    computed: {
      matchNotes: function () {
        return this.match ? this.match.notes : '';
      }
    },
    methods: {
      resetNotes: function () {
        this.$refs.notes.value = this.matchNotes;
      }
    },
    watch: {
      item: function () {
        this.resetNotes();
      }
    }
  });
</script>
