{% include 'media_list/batch_importer/batch_saver_preview_url.html' %}

<script>
  Vue.component('batch-saver-preview-urls', {
    delimiters: ['[[', ']]'],
    props: ['item', 'match'],
    template: `
      <div>
        <div v-if="match">
          Links

          <batch-saver-preview-url v-for="(link, index) in match.urls" :key="index"
                                   :index="index" :link="link" :match="match" :ref="'url-' + index"></batch-saver-preview-url>
        </div>
      </div>
    `,
    methods: {
      allSelected: function () {
        return this.$children.filter(child => child.$data.deleted).map(child => child.$props.link.id);
      }
    }
  });
</script>
