<script>
  Vue.component('batch-saver-preview', {
    delimiters: ['[[', ']]'],
    props: ['item', 'match'],
    template: `
      <form class="batch-preview" v-on:submit.prevent="submitForm">
        {% csrf_token %}

        <div class="batch-preview-row">
          <div class="batch-preview-field">
            Title
          </div>
          <div class="batch-preview-match-value">
            [[match ? match.title: '-']]
          </div>
          <div class="batch-preview-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="batch-preview-input-value">
            <input name="title" type="text" :value="item.title">
          </div>
        </div>

        <div class="batch-preview-row">
          <div class="batch-preview-field">
            Volumes
          </div>
          <div class="batch-preview-match-value">
            [[match ? match.volumes : '-']]
          </div>
          <div class="batch-preview-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="batch-preview-input-value">
            <input name="volumes" type="number" :value="item.volumes">
          </div>
        </div>

        <input name="interest" type="number" value="0" v-show="false">
        <input name="status" type="text" value="N" v-show="false">

        <batch-saver-preview-urls :item="item" :match="match" ref="urls"></batch-saver-preview-urls>

        <button class="btn btn-primary batch-preview-submit" type="submit">Send</button>
      </form>
    `,
    computed: {
      formUrl: function () {
        const baseApiUrl = '/api/categories/manga';
        return this.match ? `${baseApiUrl}/${this.match.id}/edit/` : `${baseApiUrl}/`
      }
    },
    methods: {
      submitForm: function (event) {
        const fields = event.target.elements;
        $.ajax({
          url: this.formUrl,
          type: 'POST',
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            title: fields.title.value,
            interest: +fields.interest.value,
            status: fields.status.value,
            volumes: +fields.volumes.value,
            urls: [{"url": this.item.link}]
            //urls: this.$refs.urls.fields()
          }),
          success: (response) => {
            console.log(response);
          },
          error: () => {
            alert("Error!");
          }
        });
      }
    }
  });
</script>
