<script>
  Vue.component('batch-saver', {
    delimiters: ['[[', ']]'],
    props: ['links'],
    data: function () {
      return {
        currentIndex: 0
      }
    },
    template: `
      <div>
        <batch-saver-item :item="currentItem" :index="currentIndex"></batch-saver-item>

        <div class="batch-items-footer">
          <button class="btn btn-primary" @click="prev()">Prev</button>
          <div class="batch-items-counter">[[currentIndex + 1]]/[[this.links.length]]</div>
          <button class="btn btn-primary" @click="next()">Next</button>
        </div>
      </div>
    `,
    computed: {
      currentItem: function () {
        return this.links[this.currentIndex]
      }
    },
    methods: {
      prev: function () {
        this.currentIndex = Math.max(0, this.currentIndex - 1);
      },
      next: function () {
        this.currentIndex = Math.min(this.links.length - 1, this.currentIndex + 1);
      }
    }
  });
</script>
