{% load widget_tweaks %}

{% for formset in inlines %}
  {{ formset.management_form }}

  {% for form in formset %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    <div class="form-group row">
      <div class="col-3 col-form-label text-right">
        {{ form.url.label_tag }}
      </div>

      {{ form.url|add_class:'form-control col-7' }}

      <div class="col-1 col-form-label text-right">
        {{ form.DELETE.label_tag }}
      </div>

      {{ form.DELETE|add_class:'form-control col-1' }}
    </div>
  {% endfor %}
{% endfor %}
