<div class="media-detail">
  <ul>
    <li class="md-column md-column-volumes">
      <b>Status:</b> {{ object.display_volumes }} ({{ object.is_completed|yesno:"Complete,Ongoing" }})
    </li>

    <li class="md-column md-column-interest">
      <b>Interest:</b> {{ object.interest }}
    </li>

    <li class="md-column md-column-status">
      <b>Download status:</b> {{ object.get_status_display }}
    </li>

    {% if object.notes %}
      <li class="md-column md-column-notes">
        <b>Notes:</b>
        <p>{{ object.notes }}</p>
      </li>
    {% endif %}
  </ul>

  {% if object.baka_id %}
    <a class="btn btn-primary btn-sm media-link" href="{{ object.baka_url }}">
      Mangaupdates page
    </a>
  {% endif %}

  {% for url in object.urls.all %}
    <a class="btn btn-primary btn-sm media-link" href="{{ url }}">
      {{ url.hostname }} page
    </a>
  {% endfor %}
</div>
