{% extends "media_list/categories/base/detail.html" %}

{% load category_url %}

{% block modal_title %}
  <h4>
    {{ object }}
  </h4>

  {% if object.alternate_title %}
    <h6 class="modal-title">
      [{{ object.alternate_title }}]

      <button id="action-swap-titles" type="button" class="btn btn-primary"
              data-url="{% category_url object.get_category 'swap_titles' object.id %}">
        <i class="fas fa-exchange-alt"></i>
      </button>
    </h6>
  {% endif %}
{% endblock modal_title %}

{% block external_detail %}
  <ul class="external-detail">
    <li class="md-column md-column-status">
      <b>Download status:</b>
      <span class="badge media-download-status-{{ object.status }}">
        {{ object.get_status_display }}
      </span>
    </li>

    {% if object.notes %}
      <li class="md-column md-column-notes">
        <b>My notes:</b>
        <p>{{ object.notes }}</p>
      </li>
    {% endif %}
  </ul>
{% endblock external_detail %}


{% block actions %}
  {% if not object.imdb_id %}
    <button id="action-find-external-id" type="button" class="btn btn-primary"
            data-url="{% category_url object.get_category 'get_external_id' object.id %}">
      Find IMDb ID
    </button>
  {% endif %}
{% endblock actions %}


{% block extra_links %}
  {% if object.imdb_id %}
    <a class="btn btn-sm media-link" href="{{ object.external_url }}" target="_blank" rel="noopener">
      IMDb page
      <i class="fas fa-external-link-alt"></i>
    </a>
  {% endif %}
{% endblock extra_links %}
