{% extends 'media_list/categories/base/list.html' %}

{% load static thumbnail category_url %}

{% block table %}
  <table class="table table-hover table-bordered table-responsive" id="media-list-table">
    <thead>
    <tr>
      <th class="ml-column ml-column-source">Source</th>
      <th class="ml-column ml-column-title">Title</th>
      <th class="ml-column ml-column-interest">Interest</th>
      <th class="ml-column ml-column-status">Status</th>
    </tr>
    </thead>

    <tbody>
    {% for object in object_list %}
      <tr class="ml-row" data-url="{% category_url object.get_category 'detail' object.id %}"
          data-series-id="{{ object.id }}" data-source="{{ object.source }}">
        <td data-search="{{ object.source }}">
          {% if object.source and object.source.icon %}
            <img class="source-icon" src="{{ object.source.icon.url }}" alt="{{ object.source }}"
                 title="{{ object.source }}">
          {% endif %}
        </td>

        <td class="ml-cell-title">
          <b>{{ object.title }}</b>
          {% if object.alternate_title %}
            [{{ object.alternate_title }}]
          {% endif %}
        </td>

        <td class="ml-cell-interest text-center" data-search="{{ object.interest }}">
          <span class="badge" style="background-color: {{ object.interest_color }}">
            {{ object.interest }}
          </span>
        </td>

        <td class="ml-cell-status text-center">
          <span class="badge media-download-status-{{ object.status }}">
            {{ object.get_status_display }}
          </span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock table %}

{% block category_js %}
  <script src="{% static 'media_list/js/movie.js' %}"></script>
{% endblock category_js %}
