{% extends 'media_list/categories/list.html' %}

{% load static thumbnail category_url %}

{% block table %}
  <table class="table table-hover table-bordered table-responsive" id="media-list-table">
    <thead>
    <tr>
      <th class="ml-column ml-column-source">Source</th>
      <th class="ml-column ml-column-title">Title</th>
      <th class="ml-column ml-column-interest">Interest</th>
      <th class="ml-column ml-column-status">Status</th>
    </tr>
    </thead>

    <tbody>
    {% for item in items %}
      <tr class="ml-row" data-series-id="{{ item.id }}" data-url="{% category_url item.get_category 'detail' item.id %}"
          data-source="{{ item.source }}">
        <td data-search="{{ item.source }}">
          {% if item.source %}
            <img class="source-icon" src="{{ item.source.icon.url }}" alt="{{ item.source }}"
                 title="{{ item.source }}">
          {% endif %}
        </td>

        <td class="ml-cell-title">
          <b>{{ item.title }}</b>
          {% if item.alternate_title %}
            [{{ item.alternate_title }}]
          {% endif %}
        </td>

        <td class="ml-cell-interest text-center" data-search="{{ item.interest }}">
          <span class="badge" style="background-color: {{ item.interest_color }}">
            {{ item.interest }}
          </span>
        </td>

        <td class="ml-cell-status text-center">
          <span class="badge media-download-status-{{ item.status }}">
            {{ item.get_status_display }}
          </span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock table %}

{% block category_js %}
  <script src="{% static 'media_list/js/movie.js' %}"></script>

  {% if series_id %}
    <script>
      $(document).ready(function () {
        let seriesID = {{ series_id }};
        let viewURL = "{% category_url items.0.get_category 'detail' series_id|default:0 %}";
        if (seriesID) renderDetailView(seriesID, viewURL);
      });
    </script>
  {% endif %}
{% endblock category_js %}
