body {
    /*background: #e8dfdf;*/
    background: #eff0f1; /* stackoverflow code background */
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

section.content {
    display: flex;
}

section.content aside {
    flex-shrink: 0;
    width: 320px;
    padding-right: 30px;
    padding-top: 6px;
}

.list-filter {
    margin-bottom: 20px;
}

.list-filter .list-filter-title {
    font-weight: bold;
    margin-right: 5px;
}

.ml-column-title {
    /*width: 50%;*/
}

.ml-column-volumes {
    width: 10%;
}

.ml-column-completed {
    width: 5%;
}

.ml-column-interest {
    width: 10%;
}

.ml-column-status {
    width: 18%;
}

table .ml-cell-thumbnail {
    padding: 0;
}

#media-list-table {
    background: #e6e7e8;
    margin-top: 0;
}

table .ml-cell-volumes.complete {
    background-color: #d4f3d1;
}

table tr:hover .ml-cell-volumes.complete {
    background-color: #baf2b5;
}

table .ml-cell-volumes.incomplete {
    background-color: #f2d0d0;
}

table tr:hover .ml-cell-volumes.incomplete {
    background-color: #f2b5b5;
}

table .ml-cell-interest .badge {
    color: white;
    font-size: 15px;
    width: 50px;
}

table .ml-cell-status .badge {
    font-size: 13px;
    width: 125px;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.fa-edit, .fa-trash {
    color: black;
}

.source-icon {
    height: 32px;
    width: 32px;
    margin: auto;
    display: block;
}

.hidden {
    display: none;
}

.baka-detail li {
    padding-bottom: 5px;
}

.centered-flex {
    display: flex;
    align-items: center;
}

.centered-flex output {
    margin-left: 15px;
}

.media-picture img {
    max-width: 200px;
    margin: 0 30px;
}

.media-genres {
    font-size: 20px;
}

.media-keywords {
    font-size: 17px;
}

.media-interest {
    margin: 10px 30px;
}

.media-interest .progress {
    height: 25px;
    font-size: 15px;
}

.media-detail {
    margin-bottom: 10px;
}

.media-download-status-U { /* Unknown */
    color: #fff;
    background-color: #dc3545;
}

.media-download-status-N { /* Not Downloaded */
    color: #fff;
    background-color: #6c757d;
}

.media-download-status-D { /* Downloading */
    color: #212529;
    background-color: #ff8933;
}

.media-download-status-R { /* Downloaded Raw */
    color: #212529;
    background-color: #ffc107;
}

.media-download-status-E { /* Edited Complete */
    color: #fff;
    background-color: #28a745;
}

.media-download-status-I { /* Edited Incomplete */
    color: #4d4d4d;
    background-color: #7be693;
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-thumbnail {
    margin: 5px;
}

.grid-thumbnail img {
    height: 200px;
    width: 140px;
}

.badge-orange {
    color: #ffffff;
    background-color: #ff8933;
}

.btn-baka {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.btn-baka:hover {
    color: #fff;
    background-color: #d97000;
    border-color: #cc6d00;
}

.text-button {
    background: transparent;
    border: none !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
