body {
    /*background: #e8dfdf;*/
    background: #eff0f1; /* stackoverflow code background */
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.ml-column-title {
    /*width: 50%;*/
}
.ml-column-volumes {
    width: 10%;
}
.ml-column-completed {
    width: 5%;
}
.ml-column-interest {
    width: 10%;
}
.ml-column-status {
    width: 18%;
}

table .ml-cell-thumbnail {
    padding: 0;
}

.fa-check {
    color: green;
}
.fa-times {
    color: red;
}

.fa-edit, .fa-trash {
    color: black;
}

.source-icon {
    height: 32px;
    width: 32px;
    margin: auto;
    display: block;
}

.hidden {
    display: none;
}

.baka-detail li {
    padding-bottom: 5px;
}
