{% extends "media_list/categories/base/_form.html" %}

{% block category_fields %}
  <div class="form-group row">
    {% include 'media_list/categories/base/form/_half_size_field.html' with field=form.volumes only %}
    {% include 'media_list/categories/base/form/_half_size_field.html' with field=form.baka_id only %}
    {% include 'media_list/categories/base/form/_half_size_field.html' with field=form.baka_code only %}
  </div>

  <div class="form-group row">
    {% include 'media_list/categories/base/form/_boolean_field.html' with field=form.has_omnibus only %}
    {% include 'media_list/categories/base/form/_boolean_field.html' with field=form.is_completed only %}
    {% include 'media_list/categories/base/form/_boolean_field.html' with field=form.is_read only %}
  </div>

  <div class="form-group row">
    {% include 'media_list/categories/base/form/_half_size_field.html' with field=form.source only %}
    {% include 'media_list/categories/base/form/_half_size_field.html' with field=form.status only %}
  </div>
{% endblock category_fields %}
