<div class="media-detail">
  <div class="media-introduction d-flex">
    <div class="media-picture">
      {% if object.baka_info.image %}
        <img src="{{ object.baka_info.image.url }}" alt="{{ object.baka_info.title }}">
      {% endif %}

      <div class="media-interest">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
               style="width: {{ object.interest }}%; background-color: {{ object.interest_color }}"
               aria-valuenow="{{ object.interest }}" aria-valuemin="0" aria-valuemax="100">
            {{ object.interest }}
          </div>
        </div>
      </div>

      {% include 'media_list/categories/manga/forms/_interest_form.html' with object=object only %}
    </div>

    <div class="media-description">
      <p class="media-genres">
        {% for genre in object.baka_info.genres.all %}
          <span class="badge badge-info">{{ genre }}</span>
        {% endfor %}
      </p>

      {{ object.baka_info.description }}
    </div>
  </div>

  <ul>
    <li class="md-column md-column-volumes">
      <b>Status:</b> {{ object.display_volumes }} ({{ object.is_completed|yesno:"Complete,Ongoing" }})
    </li>

    <li class="md-column md-column-status">
      <b>Download status:</b>
      <span class="badge media-download-status-{{ object.status }}">
        {{ object.get_status_display }}
      </span>
    </li>

    {% if object.notes %}
      <li class="md-column md-column-notes">
        <b>Notes:</b>
        <p>{{ object.notes }}</p>
      </li>
    {% endif %}
  </ul>

  <div class="row">
    <div class="col">
      <ul class="baka-detail">
        <li class="md-column">
          <b>Title:</b> {{ object.baka_info.title }}
        </li>

        <li class="md-column">
          <b>Status:</b> {{ object.baka_info.status }}
        </li>

        {% if object.baka_info.single_author %}
          <li class="md-column">
            <b>Author:</b> <span class="badge badge-info">{{ object.baka_info.single_author }}</span>
          </li>
        {% else %}
          <li class="md-column">
            <b>Author(s):</b> {{ object.baka_info.authors.all|join:", " }}
          </li>

          <li class="md-column">
            <b>Artist(s):</b> {{ object.baka_info.artists.all|join:", " }}
          </li>
        {% endif %}

        <li class="md-column">
          <b>Original Publisher:</b> {{ object.baka_info.original_publisher }}
        </li>

        <li class="md-column">
          <b>English Publisher:</b> {{ object.baka_info.english_publisher }}
        </li>
      </ul>
    </div>
  </div>

  {% if object.baka_id %}
    <a class="btn btn-primary btn-sm media-link" href="{{ object.baka_url }}">
      Mangaupdates page
    </a>
  {% endif %}

  {% for url in object.urls.all %}
    <a class="btn btn-primary btn-sm media-link" href="{{ url }}">
      {{ url.hostname }} page
    </a>
  {% endfor %}
</div>
