{% extends "media_list/categories/base/detail.html" %}

{% load category_url %}

{% block modal_title %}
  <h4>
    {{ object }}

    {% if object.baka_info.year %}
      <span class="badge badge-info">{{ object.baka_info.year }}</span>
    {% endif %}
  </h4>

  {% if object.alternate_title %}
    <h6 class="modal-title">
      [{{ object.alternate_title }}]

      <button id="action-swap-titles" type="button" class="btn btn-primary"
              data-url="{% category_url object.get_category 'swap_titles' object.id %}">
        <i class="fas fa-exchange-alt"></i>
      </button>
    </h6>
  {% endif %}
{% endblock modal_title %}


{% block description %}
  <p class="media-genres">
    {% for genre in object.baka_info.genres.all %}
      <span class="badge badge-info">{{ genre }}</span>
    {% endfor %}
  </p>

  <p class="media-keywords">
    {% for keyword in object.baka_info.weighed_keywords.all %}
      <span class="badge badge-orange">{{ keyword }} ({{ keyword.score }})</span>
    {% endfor %}
  </p>

  {{ object.baka_info.description }}
{% endblock description %}

{% block external_detail %}
  <ul class="baka-detail">
    <li class="md-column md-column-volumes">
      <b>Status:</b> {{ object.display_volumes }} ({{ object.is_completed|yesno:"Complete,Ongoing" }})
    </li>

    <li class="md-column md-column-status">
      <b>Download status:</b>
      <span class="badge media-download-status-{{ object.status }}">
        {{ object.get_status_display }}
      </span>
    </li>

    {% if object.notes %}
      <li class="md-column md-column-notes">
        <b>My notes:</b>
        <p>{{ object.notes }}</p>
      </li>
    {% endif %}

    {% if object.baka_info.title %}
      <li class="md-column">
        <b>Title:</b> {{ object.baka_info.title }}
      </li>
    {% endif %}

    {% if object.baka_info.status %}
      <li class="md-column">
        <b>Status:</b> {{ object.baka_info.status }}
      </li>
    {% endif %}

    {% if object.baka_info %}
      {% if object.baka_info.single_author %}
        <li class="md-column">
          <b>Author:</b> <span class="badge badge-info">{{ object.baka_info.single_author }}</span>
        </li>
      {% else %}
        <li class="md-column">
          <b>Author(s):</b> {{ object.baka_info.authors.all|join:", " }}
        </li>

        <li class="md-column">
          <b>Artist(s):</b> {{ object.baka_info.artists.all|join:", " }}
        </li>
      {% endif %}
    {% endif %}

    {% if object.baka_info.original_publisher %}
      <li class="md-column">
        <b>Original Publisher:</b> {{ object.baka_info.original_publisher }}
      </li>
    {% endif %}

    {% if object.baka_info.english_publisher %}
      <li class="md-column">
        <b>English Publisher:</b> {{ object.baka_info.english_publisher }}
      </li>
    {% endif %}
  </ul>
{% endblock external_detail %}


{% block actions %}
  {% if not object.baka_id %}
    <button id="action-find-baka-id" type="button" class="btn btn-primary"
            data-url="{% category_url object.get_category 'get_baka_id' object.id %}">
      Find Mangaupdates ID
    </button>
  {% endif %}

  {% if object.baka_id and not object.baka_info %}
    <button id="action-get-baka-data" type="button" class="btn btn-primary"
            data-url="{% category_url object.get_category 'get_baka_info' object.id %}">
      Get Info from Mangaupdates
    </button>
  {% endif %}
{% endblock actions %}


{% block extra_links %}  {% if object.baka_id %}
  <a class="btn btn-baka btn-sm media-link" href="{{ object.baka_url }}" target="_blank" rel="noopener">
    Mangaupdates page
    <i class="fas fa-external-link-alt"></i>
  </a>
{% endif %}{% endblock extra_links %}
