{% extends 'media_list/categories/base/list.html' %}

{% load static thumbnail category_url %}

{% block filters %}
  {% include 'media_list/categories/manga/_list_filters.html' %}
{% endblock filters %}

{% block table_header_row %}
  <th class="ml-column"></th>
  <th class="ml-column ml-column-source">Source</th>
  <th class="ml-column ml-column-title">Title</th>
  <th class="ml-column ml-column-staff">Staff</th>
  <th class="ml-column ml-column-year">Year</th>
  <th class="ml-column ml-column-volumes">Volumes</th>
  <th class="ml-column ml-column-interest">Interest</th>
  <th class="ml-column ml-column-status">Status</th>
  <th class="ml-column">Actions</th>
{% endblock table_header_row %}


{% block table_body %}
  {% for object in object_list %}
    <tr class="ml-row" data-url="{% category_url object.get_category 'detail' object.id %}"
        data-series-id="{{ object.id }}" data-source="{{ object.source }}" data-completed="{{ object.is_completed }}"
        data-baka-info="{{ object.baka_info_id|yesno:"True,False" }}">
      <td class="ml-cell-thumbnail">
        {% if object.baka_info.image %}
          <img src="{{ object.baka_info.image|thumbnail_url:'list' }}" alt="{{ object.title }}"/>
        {% endif %}
      </td>

      <td data-search="{{ object.source }}">
        {% if object.source %}
          <img class="source-icon" src="{{ object.source.icon.url }}" alt="{{ object.source }}"
               title="{{ object.source }}">
        {% endif %}
      </td>

      <td class="ml-cell-title">
        <b>{{ object.title }}</b>
        {% if object.alternate_title %}
          [{{ object.alternate_title }}]
        {% endif %}
      </td>

      <td class="ml-cell-staff">
        {% for member in object.baka_info.staff %}
          <span class="badge badge-info">{{ member }}</span>
        {% endfor %}

        {% if object.baka_info.has_extra_staff %}
          <span class="badge badge-info">...</span>
        {% endif %}
      </td>

      <td class="text-center">
        {{ object.baka_info.year }}
      </td>

      <td class="ml-cell-volumes {{ object.is_completed|yesno:"complete,incomplete" }}"
          data-order="{{ object.volumes }}" data-search="{{ object.is_completed }}">
        {{ object.display_volumes }}
        <i class="fas fa-{{ object.is_completed|yesno:"check,times" }}"></i>
      </td>

      <td class="ml-cell-interest text-center" data-search="{{ object.interest }}">
        <span class="badge" style="background-color: {{ object.interest_color }}">
          {{ object.interest }}
        </span>
      </td>

      <td class="ml-cell-status text-center">
        <span class="badge media-download-status-{{ object.status }}">
          {{ object.get_status_display }}
        </span>
      </td>

      <td>
        <div class="d-flex justify-content-around">
          <a href="{% category_url object.get_category 'edit' object.id %}">
            <i class="fas fa-edit"></i>
          </a>

          <a href="{% category_url object.get_category 'delete' object.id %}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock table_body %}

{% block category_js %}
  <script src="{% static 'media_list/js/manga.js' %}"></script>
{% endblock category_js %}
