{% load category_url %}

<div class="modal-header">
  <div class="modal-title">
    {% block modal_title %}{% endblock modal_title %}
  </div>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="dropdown float-right">
    <button class="text-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="{% category_url object.get_category 'edit' object.id %}">
        <i class="fas fa-edit"></i> Edit
      </a>

      <a class="dropdown-item" href="{% category_url object.get_category 'delete' object.id %}">
        <i class="fas fa-trash"></i> Delete
      </a>
    </div>
  </div>

  <div class="media-detail">
    <div class="media-introduction d-flex">
      <div class="media-picture">
        <img src="{{ object.image_url }}" alt="{{ object }}">

        {% include 'media_list/categories/base/_interest_form.html' with object=object only %}
      </div>

      <div class="media-description">
        {% block description %}{% endblock description %}
      </div>
    </div>

    {% block external_detail %}{% endblock external_detail %}

    <ul>
      {% for url in object.urls.all %}
        <li>
          <a href="{{ url }}" target="_blank" rel="noopener">
            {{ url }} <i class="fas fa-external-link-alt"></i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="modal-footer justify-content-start">
  {% block extra_links %}{% endblock extra_links %}

  <div class="media-actions">
    {% block actions %}{% endblock actions %}
  </div>
</div>
