{% load static all_categories %}

<html lang="en">
<head>
  <title>{% block title %}Media List{% endblock title %} - Media List</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/fh-3.1.4/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'media_list/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'landing' %}">Media Lists</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Lists
        </a>
        <div class="dropdown-menu">
          {% all_categories as categories %}
          {% for category in categories %}
            {% with 'categories:'|add:category.path|add:':list' as path %}
              <a class="dropdown-item" href="{% url path %}">
                {{ category.name|title }}
              </a>
            {% endwith %}
          {% endfor %}
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'categories:manga:create' %}">
          Create Manga
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">
          Admin
        </a>
      </li>
    </ul>
  </div>
</nav>

<div id="content">
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" crossorigin="anonymous"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/fh-3.1.4/datatables.min.js"></script>

{% block extra_js %}{% endblock %}

</body>
</html>
