<div class="modal-header">
  <div class="modal-title">
    <h4>
      {{ object }}

      {% if object.baka_info.year %}
          <span class="badge badge-info">{{ object.baka_info.year }}</span>
      {% endif %}
    </h4>

    {% if object.alternate_title %}
      <h6 class="modal-title">
        [{{ object.alternate_title }}]

        <button id="action-swap-titles" type="button" class="btn btn-primary"
                data-url="{% url 'categories:manga:swap_titles' object.id %}">
          <i class="fas fa-exchange-alt"></i>
        </button>
      </h6>
    {% endif %}
  </div>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="d-flex justify-content-around float-right">
    <a href="{% url "categories:manga:edit" object.id %}">
      <i class="fas fa-edit"></i>
    </a>

    <a href="{% url "categories:manga:delete" object.id %}">
      <i class="fas fa-trash"></i>
    </a>
  </div>

  {% if object.baka_info %}
    {% include 'media_list/details/_media_detail_with_external.html' %}
  {% else %}
    {% include 'media_list/details/_media_detail.html' %}
  {% endif %}

  <div class="media-actions">
    {% if not object.baka_id %}
      <button id="action-find-baka-id" type="button" class="btn btn-primary"
              data-url="{% url 'categories:manga:get_baka_id' object.id %}">
        Find Mangaupdates ID
      </button>
    {% endif %}

    {% if object.baka_id and not object.baka_info %}
      <button id="action-get-baka-data" type="button" class="btn btn-primary"
              data-url="{% url 'categories:manga:get_baka_info' object.id %}">
        Get Info from Mangaupdates
      </button>
    {% endif %}
  </div>
</div>
