<div class="modal-header">

  <div class="modal-title">
    <h4>
      {{ object }}
    </h4>

    {% if object.alternate_title %}
      <h6 class="modal-title">
        [{{ object.alternate_title }}]
      </h6>
    {% endif %}
  </div>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="media-detail">
    <ul>
      <li class="md-column md-column-volumes">
        <b>Status:</b> {{ object.display_volumes }} ({{ object.is_completed|yesno:"Complete,Ongoing" }})
      </li>

      <li class="md-column md-column-interest">
        <b>Interest:</b> {{ object.interest }}
      </li>

      <li class="md-column md-column-status">
        <b>Download status:</b> {{ object.get_status_display }}
      </li>

      {% if object.notes %}
        <li class="md-column md-column-notes">
          <b>Notes:</b>
          <p>{{ object.notes }}</p>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="media-actions">
    {% if False %}
      <button type="button" class="btn btn-primary action-find-baka-id">
        Find Mangaupdates ID
      </button>
    {% endif %}

    {% if False %}
      <button type="button" class="btn btn-primary action-get-baka-data">
        Get Info from Mangaupdates
      </button>
    {% endif %}
  </div>
</div>
