{% extends 'media_list/base.html' %}
{% load static thumbnail %}

{% block title %}Browse{% endblock title %}

{% block content %}

  <h1>Media List</h1>

  <div class="row">
    <div class="col-2">
      {% include 'media_list/_list_filters.html' %}
    </div>

    <div class="col-8">
      <div id="media-list">
        <table class="table table-hover table-bordered table-responsive" id="media-list-table">
          <thead>
          <tr>
            <th class="ml-column"></th>
            <th class="ml-column ml-column-title">Source</th>
            <th class="ml-column ml-column-title">Title</th>
            <th class="ml-column ml-column-staff">Staff</th>
            <th class="ml-column ml-column-volumes">Volumes</th>
            <th class="ml-column ml-column-completed">Completed</th>
            <th class="ml-column ml-column-interest">Interest</th>
            <th class="ml-column ml-column-status">Status</th>
            <th class="ml-column">Actions</th>
          </tr>
          </thead>

          <tbody>
          {% for series in series_list %}
            <tr class="ml-row" data-series-id="{{ series.id }}" data-detail-url="{% url 'detail' series.id %}"
                data-source="{{ series.source }}" data-completed="{{ series.is_completed }}"
                data-baka-info="{{ series.baka_info_id|yesno:"True,False" }}">
              <td class="ml-cell-thumbnail">
                {% if series.baka_info.image %}
                  <img src="{{ series.baka_info.image|thumbnail_url:'list' }}" alt="{{ series.title }}"/>
                {% endif %}
              </td>

              <td data-search="{{ series.source }}">
                {% if series.source %}
                  <img class="source-icon" src="{{ series.source.icon.url }}" alt="{{ series.source }}"
                       title="{{ series.source }}">
                {% endif %}
              </td>

              <td class="ml-cell-title">
                <b>{{ series.title }}</b>
                {% if series.alternate_title %}
                  [{{ series.alternate_title }}]
                {% endif %}
              </td>

              <td class="ml-cell-staff">
                {% for member in series.baka_info.staff %}
                  <span class="badge badge-info">{{ member }}</span>
                {% endfor %}

                {% if series.baka_info.has_extra_staff %}
                  <span class="badge badge-info">...</span>
                {% endif %}
              </td>

              <td class="ml-cell-volumes {{ series.is_completed|yesno:"complete,incomplete" }}">
                {{ series.display_volumes }}
              </td>

              <td class="text-center" data-search="{{ series.is_completed }}">
                <i class="fas fa-{{ series.is_completed|yesno:"check,times" }}"></i>
              </td>

              <td>{{ series.interest }}</td>

              <td>{{ series.get_status_display }}</td>

              <td>
                <div class="d-flex justify-content-around">
                  <a href="{% url "edit" series.id %}">
                    <i class="fas fa-edit"></i>
                  </a>

                  <a href="{% url "delete" series.id %}">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content"></div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'media_list/js/djangoCookies.js' %}"></script>

  <script src="{% static 'media_list/js/list.js' %}"></script>

  <script src="{% static 'media_list/js/datatable.js' %}"></script>

  <script src="{% static 'media_list/js/listView.js' %}"></script>

  <script src="{% static 'media_list/js/detailView.js' %}"></script>

  <script src="{% static 'media_list/js/rangeField.js' %}"></script>

  <script>
    $(document).ready(function () {
      const series_id = {{ series_id|default:'null' }};
      if (series_id) renderDetailView(series_id);
    });
  </script>
{% endblock %}
