{% extends 'media_list/base.html' %}

{% load all_categories category_url %}

{% block title %}Home{% endblock title %}

{% block content %}
  <header class="title">
    <h1>Media Lists</h1>
  </header>

  <section class="content">
    <ul class="list-group">
      {% all_categories as categories %}
      {% for category in categories %}
        <li class="list-group-item">
          <a href="{% category_url category 'list' %}">
            {{ category.verbose_name_plural|title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
