{% extends 'media_list/base.html' %}

{% load all_categories %}

{% block title %}Home{% endblock title %}

{% block content %}
  <header class="title">
    <h1>Media Lists</h1>
  </header>

  <section class="content">
    <ul class="list-group">
      {% all_categories as categories %}
      {% for category in categories %}
        <li class="list-group-item">
          {% with 'categories:'|add:category.path|add:':list' as path %}
            <a href="{% url path %}">
              {{ category.name|title }}
            </a>
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
