{% load widget_tweaks %}

<div class="col-6">
  <form method="POST" class="post-form">
    {{ form.errors }}
    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="form-group row">
        <div class="col-3 col-form-label text-right">
          {{ field.label_tag }}
        </div>

        {{ field|add_class:'form-control col-9' }}
      </div>
    {% endfor %}

    {% for formset in inlines %}
      {{ formset.management_form }}

      {% for form in formset %}
        <div class="form-group row">
          <div class="col-3 col-form-label text-right">
            {{ form.url.label_tag }}
          </div>

          {{ form.url|add_class:'form-control col-7' }}

          <div class="col-1 col-form-label text-right">
            {{ form.DELETE.label_tag }}
          </div>

          {{ form.DELETE|add_class:'form-control col-1' }}
        </div>
      {% endfor %}
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>
