#app {
    width: 1100px;
    margin: auto;
}

.batch-items-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.batch-items-counter {
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.batch-item {
    display: flex;
    margin: 0 auto;
}

.batch-item-left, .batch-item-right {
    width: 50%;
    padding: 10px;
    background: #d5dce3;
}

.batch-item-left {
    margin-right: 5px;
}

.batch-item-right {
    margin-left: 5px;
}

.batch-match {
    display: block;
    background: lightsteelblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}

.batch-match:hover {
    background: cornflowerblue;
    border: 1px solid black;
}

.batch-preview {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.batch-preview-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.batch-preview-title .batch-preview-new {
    color: #7F7F7F;
}

.batch-preview-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.batch-preview-field {
    flex-basis: 25%;
    padding-left: 10px;
    font-weight: bold;
    color: #999999;
}

.batch-preview-match-value {
    flex-basis: 35%;
}

.batch-preview-arrow {
    flex-basis: 5%;
    padding-right: 10px;
    color: #999999;
}

.batch-preview-input-value {
    flex-basis: 35%;
}

.batch-preview-submit {
    align-self: flex-end;
    margin-top: auto;
    width: 125px;
}

.batch-preview-url {
    font-weight: bold;
}

.batch-preview-url.deleted-url {
    color: red;
    font-weight: normal;
    text-decoration: line-through;
}

.batch-preview-url-delete {
    color: red;
}

.batch-preview-url-delete:hover {
    color: #a00000;
}

