#app {
    width: 70%;
    margin: auto;
}

.batch-items-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.batch-items-counter {
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.batch-item {
    display: flex;
    margin: 0 auto;
}

.batch-item-left, .batch-item-right {
    width: 50%;
    padding: 10px;
    background: #d5dce3;
}

.batch-item-left {
    margin-right: 5px;
}

.batch-item-right {
    margin-left: 5px;
}

.batch-preview-row {
    display: flex;
    align-items: center;
}

.batch-preview-field {
    flex-basis: 25%;
    padding-left: 10px;
    font-weight: bold;
    color: #999999;
}

.batch-preview-match-value {
    flex-basis: 35%;
}

.batch-preview-arrow {
    flex-basis: 5%;
    padding-right: 10px;
    color: #999999;
}

.batch-preview-input-value {
    flex-basis: 35%;
}
